<section id="formularioSeccion">
    <h1>login</h1>
    <form action="/login" method="POST" id="formularioEstetic">
    <input type="email" name="email" id="email" placeholder="Introducir Email">
    <input type="password" name="password" id="password" placeholder="Contraseña">
    <button>Loggearse</button>
    </form>
    <h2>no tenes una cuenta? <a href="/register">crea una aqui</a></h2>
</section>